.roadmap-line {
  position: relative;
}

.roadmap-line::after {
  content: '';
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  height: 100%;
  width: 2px;
  background-color: #ddd;
}